<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
      <img src="assets/pokedexLogo.webp" alt="logoPokedex" width="15%">

      <div class="w-75" id="navbarSupportedContent">
        <ul class="navbar-nav h1">
          <li class="nav-item mx-auto">
            <a class="nav-link" routerLink="/pokemon" routerLinkActive="active">POKEMON</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" routerLink="/item" routerLinkActive="active">ITEM</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" routerLink="/movimientos" routerLinkActive="active">MOVIMIENTOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control me-2 ms-5" type="text" placeholder="Search">
        <button class="btn btn-light text-warning text-dark" type="button"><i class="bi bi-search"></i></button>
      </form>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav flex-grow-1 justify-content-center">
          <li class="nav-item mx-auto">
            <div class="dropdown">
              <button type="button" class="btn btn-danger dropdown-toggle text-warning" data-bs-toggle="dropdown">
                Generación
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Generación 1</a></li>
                <li><a class="dropdown-item" href="#">Generación 2</a></li>
                <li><a class="dropdown-item" href="#">Generación 3</a></li>
                <li><a class="dropdown-item" href="#">Generación 4</a></li>
                <li><a class="dropdown-item" href="#">Generación 5</a></li>
                <li><a class="dropdown-item" href="#">Generación 6</a></li>
                <li><a class="dropdown-item" href="#">Generación 7</a></li>
                <li><a class="dropdown-item" href="#">Generación 8</a></li>
                <li><a class="dropdown-item" href="#">Generación 9</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item mx-auto">
            <div class="dropdown">
              <button type="button" class="btn btn-danger dropdown-toggle text-warning" data-bs-toggle="dropdown">
                Tipo
              </button>
              <ul class="dropdown-menu w-auto">
                <ul class="row list-unstyled">
                  <li class="col-5"><a class="dropdown-item" href="#">Planta</a></li>
                  <li class="col-7"><a class="dropdown-item" href="#">Hielo</a></li>
                  <li class="col-5"><a class="dropdown-item" href="#">Acero</a></li>
                  <li class="col-7"><a class="dropdown-item" href="#">Lucha</a></li>
                  <li class="col-5"><a class="dropdown-item" href="#">Agua</a></li>
                  <li class="col-7"><a class="dropdown-item" href="#">Normal</a></li>
                  <li class="col-5"><a class="dropdown-item" href="#">Bicho</a></li>
                  <li class="col-7"><a class="dropdown-item" href="#">Psíquico</a></li>
                  <li class="col-5"><a class="dropdown-item" href="#">Dragón</a></li>
                  <li class="col-7"><a class="dropdown-item" href="#">Roca</a></li>
                  <li class="col-5"><a class="dropdown-item" href="#">Eléctrico</a></li>
                  <li class="col-7"><a class="dropdown-item" href="#">Siniestro</a></li>
                  <li class="col-5"><a class="dropdown-item" href="#">Fantasma</a></li>
                  <li class="col-7"><a class="dropdown-item" href="#">Tierra</a></li>
                  <li class="col-5"><a class="dropdown-item" href="#">Fuego</a></li>
                  <li class="col-7"><a class="dropdown-item" href="#">Veneno</a></li>
                  <li class="col-5"><a class="dropdown-item" href="#">Hada</a></li>
                  <li class="col-7"><a class="dropdown-item" href="#">Volador</a></li>
                </ul>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>