<div class="modal-header bg-danger text-white">
    <h5 class="modal-title me-auto fondoInfo border border-2 border-black rounded-3 p-2">{{ PokemonSeleccionado!.name.toUpperCase() }}</h5>
    <button type="button" class="btn close text-white" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body bg-danger text-white">
    <div class="row">
      <div class="col-4 text-center mt-5 d-flex flex-column align-items-center justify-content-center">
        <img [src]="getImagePokemon()" alt="{{ PokemonSeleccionado!.name }}" class="mb-3 me-2" style="width: 100%"/>
         <div>
            @for (tipo of PokemonSeleccionado!.types; track $index) {
                <span class="badge badge-pill fondoTipo me-1 border border-2 border-black fondoInfo">{{tipo.type.name.toUpperCase()}}</span>
            }
         </div>
      </div>
  
<div class="col-8 rounded-3 d-flex flex-column justify-content-between">

    <div class="mb-3 fondoInfo w-75 mt-5 border border-2 border-black rounded-3 p-3">
        <div class="d-flex mt-2">
            <p class="badge badge-light d-block mb-2">Habilidad:</p>
                @for (habilidad of PokemonSeleccionado!.abilities; track $index) {
                    @if (!habilidad.is_hidden) {
                        <span class="badge badge-light">{{ capitalize(habilidad.ability.name) }}</span>
                    }
                }
        </div>
        <div class="d-flex mt-2">
            <p class="badge badge-light d-block mb-2">Habilidad Oculta:</p>
                @for (habilidad of PokemonSeleccionado!.abilities; track $index) {
                    @if (habilidad.is_hidden) {
                        <span class="badge badge-light">{{ capitalize(habilidad.ability.name)}}</span>
                    }
                }
        </div>
    </div>
    <p class="fondoInfo text-light p-2 border border-2 border-black rounded-3">
        {{pokemonDescription}}
    </p>
    <div class="d-flex justify-content-around">
        <div class="text-center fondoInfo rounded-3 border border-2 border-black mb-2 p-4">
            <p class="font-weight-bold">Altura: {{ PokemonSeleccionado!.height }} m</p>
        </div>
        <div class="text-center fondoInfo rounded-3 border border-2 border-black mb-2 p-4">
            <p class="font-weight-bold">Peso: {{ PokemonSeleccionado!.weight }} kg</p>
        </div>
    </div>
</div>

  